/* world */
body {
    margin: 0;
}

:root {
    --black: #011314;
    --white: #F5F5F5;
    --charcoal: #2E4052;
    --marigold: #ECA72C;
    --orangep: #FFA62B;

    --prif: soleil, sans-serif;
    --secf: 'Orbitron', sans-serif;
    --trif: sofachrome, sans-serif;

    --small: 1rem;
    --medium: 1.5rem;
    --big: 2rem;
}

a {
    text-decoration: none;
}

/* Navigation */

/* Laptop View */
.bar {
    display: none;
}

.logo {
    font-family: var(--trif);
    color: var(--orangep);
    margin: 0 1rem;
    grid-row: 1;
    font-size: var(--medium);
}

.nav-grid {
    display: grid;
    grid-template-columns: 4fr repeat(6, 1fr);
    grid-template-rows: 1fr;
    background-color: var(--charcoal);
}

.index-link {
    justify-self: center;
    align-self: center;
    color: var(--orangep);
    font-family: var(--prif);
    font-weight: 600;
}

/* Mobile View */

@media screen and (max-width: 900px) {
    .nav-grid {
        grid-template-columns: repeat(5, 1fr);
    }

    .bar {
        background-color: --charcoal;
        display: block;
        grid-column: 1 / span 2;
        color: var(--orangep);
        font-family: var(--prif);
        justify-self: center;
        align-self: center;
        font-size: var(--big);
    }

    .logo {
        margin: none;
        justify-self: center;
        align-self: center;
        grid-row: 1 / 2;
        grid-column: 1 / span 5;
    }

    .index-link {
        margin: 0;
        padding: 0;
        display: none;
        grid-column: 1 / span 5;
        font-size: var(--medium);
    }
}

/* Home Grid */
.home-grid {

    background-color: var(--charcoal);
    display: grid;
    grid-template-rows: repeat(5,auto);
    color: white;
}

/* 45rem 30rem 40rem 40rem 10rem */
.welcome-sec {
    overflow: hidden;
    background-image:
        radial-gradient(rgba(1, 19, 20, .75), rgba(1, 19, 20, .1)),
        url('../media/tunnel.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: grid;
    grid-template-rows: 45rem;
}

.welcome-sec div {
    align-self: center;
    justify-self: center;
    text-align: center;
    grid-row: 1 / 2;

    font-family: var(--secf);
}

.welcome-sec div h1 {
    text-align: bottom;
    font-size: 3.5rem;
    font-weight: 1000;
    color: var(--white);
}

.welcome-sec span {
    font-weight: normal;
    font-size: 2.75rem;
}

.welcome-sec h3 {
    font-size: var(--small);
    font-weight: 200;
    font-style: italic;
}

.welcome-sec h2 {
    margin: 2rem 0 .5rem;
    font-weight: 800;
    font-size: var(--big);
    font-size: var(--medium);
}

.welcome-sec button {
    margin: 1rem;
    font-family: var(--prif);
    padding: .75rem;
    font-size: 1.5rem;
    font-weight: 800;
    background-color: rgba(255, 255, 255, .05);
    border: .05rem solid var(--marigold);
}

.welcome-sec button:hover {
    background-color: rgba(1, 19, 20, .7);
}

.welcome-sec a {
    color: var(--marigold);
}

@media screen and (max-width: 900px) {
    .welcome-sec div h1 {
        font-size: 2.5rem;
    }

    .welcome-sec span {
        font-size: 1.85rem;
    }

    .welcome-sec button {
        font-weight: 800;
        padding: .5;
    }
}

.what-is {
    background-image:
        linear-gradient(rgba(1, 19, 20, .6), rgba(1, 19, 20, .35)),
        url('../media/trialwhite.jpg');
    background-position: center;
    background-size: cover;
    height: 30rem;

    color: var(--white);
}

    .what-is h2 {
        font-family: var(--secf);
        font-size: var(--big);
        margin: 2rem 1rem;
    }

    .what-is p {
        font-size: var(--medium);
        margin: 1rem;
        font-weight: 200;
        text-shadow: 3px 3px var(--black);
    }

    .what-is p,.quote,.quote h2 {
        font-family: var(--prif);
    }
    .quote {
        margin: 5rem 0;
    }
    .quote, .quote h2 {
        text-align: center;
        font-size: var(--big);
        font-style: italic;
        color: var(--marigold);
        text-shadow: 3px 2px var(--black);
    }

/* History Grid */
.history {
    background-image: 
    radial-gradient(rgba(1, 19, 20, .75), rgba(1, 19, 20, 0)),
    url('../media/stars.jpg');
    background-position: center;
    background-size: cover;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.history-title {
    font-family: var(--secf);
    font-size: var(--medium);
    margin: 1rem;
    color: var(--white);
}

.history-item {
    font-family: var(--prif);

    grid-row: 2 / span 4;
    margin: 1rem;
    background-color: var(--charcoal);

    display: grid;
    grid-template-rows: 5rem 13rem auto; 
}
    .history-item h3{
        font-family: var(--prif);

        font-size: var(--medium);
        text-align: center;
    }
    .history-item p{
        margin: 1rem;
    }
    .history-item div{
        background-repeat: no-repeat;
        background-size: cover;
        margin: 1rem;
    }
    .item-1 {
        background-image: url('../media/conesta1.jpeg');
    }

    .item-2 {
        background-image: url('../media/Dennis_Tito.jpg');
    }
    .item-3 {
        background-image: url('../media/dragon_capsule.jpeg');
    }
    .item-4 {
        background-image: url('../media/jeff_bezos.jpeg');
    }

    .history-item span {
        visibility: hidden;
    }

.review {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);

    background-color: var(--black);
    overflow: hidden;
}

.review-rocket {
    background-color: var(--marigold);
    grid-column: 1 / span 4;
    grid-row: 1 /span 10;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto 30rem auto
}

    .review-rocket h3 {
        grid-column: 1 / 8;
        width: 100%;
        height: 100%;
        background-color: var(--black);

        font-family: var(--secf);
        font-size: var(--medium);
        margin: 2rem;
        padding: .75rem 0 0 0;
    }

    .review-rocket div {
        grid-column: 2 / 8;
        grid-row: 2;
        background-image: 
        linear-gradient(rgba(1, 19, 20, .2),rgba(255, 166, 43, .35)),
        url('../media/rocket-smoke.jpg'); 
        background-size: cover;
    }

    .review-rocket span {
        visibility: hidden;
    }

    .review-rocket button {
        grid-column: 2 / 8;
        justify-self: center;
        width: 40%;

        font-family: var(--prif);
        font-size: var(--small);
        border: var(--black) solid 0.15rem;
        margin: .5rem 0 .5rem 0;
        padding: .5rem;
        cursor: pointer;
    }

    .review-rocket button a {
        color: var(--white);
    }
    .review-rocket button:hover {
        border: var(--black) solid 0.15rem;
        background: rgba(1, 19, 20, .1);
    }

.testimonials {
    grid-column: 5 / span 6;
    grid-row: 1/span 10;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2rem repeat(3 15rem);

    margin: 1rem;
}

.testimonials div {
    grid-column: 1 / span 8;
    overflow: hidden;

    font-size: var(--small);
    font-family: var(--prif);
}

.testimonials img {
    width: 65%;
    justify-self: center;

    background-color: var(--white);
    opacity: .7;
    border-radius: 100rem;
}

.testimonials h3 {
    font-family: var(--secf);
    font-size: var(--medium);

    margin: 0;
    padding: 0;
}

.review-source {
    display: grid;
    grid-template-columns: .65fr 3fr;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-rows: 1fr;
    overflow: hidden;
    font-family: var(--prif);
    font-size: var(--small);
    background-color: var(--charcoal);
}

.footer h1 {
    justify-self: center;
    align-self: center;
}

.footer-address {
    justify-self: center;
    align-self: center;
    color: var(--white);
}

.footer-links h4 {
    justify-self: center;
}

.footer-links {
    margin: 1rem 3rem;
    display: grid;
    grid-template-rows: repeat(7, auto);
}

.footer-links a {
    justify-self: center;
    color: var(--orangep);
}

.footer-links a:hover {
    color: var(--black);
}


@media screen and (max-width: 900px) {
    .quote h3, .quote h2 {
        font-size: var(--small);
        margin: 1rem;
        color: var(--white); 
    }

    .what-is-grid p {
        text-align: center;
        margin: 1rem;
        color: var(--marigold);
        font-weight: 100;
        font-size: var(--small);
    }

    .history {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 15rem repeat(4, auto);
    }
    .history-title {
        font-family: var(--secf);
        font-size: var(--medium);
        background-color: none; 
        grid-column: 2/8;

        grid-template-columns: none;
        grid-template-rows: none;
    }

    .history-item {
        grid-row: inherit;
        grid-column: 1 / 9;
        margin: 1rem 0;

        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: repeat(2, auto);
        background-color: rgb(46, 64, 82, .5);
    }


    .history-item h3,
    .history-item p {
        grid-column: 1 / 2;
    }

    .history-item p {
        font-size: .85rem;
    }

    .history-item div{
        grid-column: 2 / 3;
        grid-row: 1 / 3;

        background-position:top;
    }

    .review {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }

    .review-rocket {
        grid-row: 1/2;
        grid-template-columns: 1fr
    }

    .review-rocket h3 {
        grid-column: 1;
    }

    .review-rocket div {
        grid-column: 1;
        width: 80%;
        justify-self: center;
    }

    .review-rocket button {
        grid-column: 1;
        width: 40%;
        justify-self: center;
    }

    .testimonials {
        grid-row: 2 / 3;
        grid-column: none;
    }

    .testimonials img {
        width: 90%;
    }

    .review-source {
        grid-template-columns: .8fr 3fr;
    }

    .footer {
        grid-template-rows: repeat(3, auto);
        grid-template-columns: 1fr;
    }

    .footer h1 {
        justify-self: center;
        align-self: center;
        margin: 1rem;
    }

    .footer-address {
        margin: 0 4rem .5rem;
        justify-self: left;
        align-self: center;
        grid-row: 2 / 3;
    }

    .footer-address p {
        margin: 0;
    }

    .footer-links {
        grid-row: 3 / 4;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        justify-self: left;
        margin: 1rem 0;
    }

    .footer-links a:nth-child(5) {
        grid-column: 1 / 3;
    }

    .footer-links a:nth-child(6) {
        grid-column: 3 / 5;
    }


}


/* COST.HTML */
.cost-body {
    background: 
    linear-gradient(0deg, rgba(1, 19, 20,.9) , rgba(46, 64, 82,.2)), 
    url('../media/stars-moon.jpg');

    background-position: bottom;
    background-size: cover;

    display: grid;
    justify-content: center;
    align-items: center;
}
.cost-boxes-grid {
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-items: center;
    margin: 5rem 0 2rem 0;
}

    .cost-boxes-grid h3{
        font-family: var(--secf);
        font-size: var(--big);
        margin: 1rem;
        color: var(--white);

        text-shadow: .2rem .2rem var(--black);
    }

    .cost-boxes-grid h2{
        font-family: var(--prif);
        font-size: var(--big);

        text-align: center;
        color: var(--white);

        text-shadow: .2rem .05rem var(--marigold);
    }

    .cost-boxes-grid button{
        font-family: var(--prif);
        font-size: var(--big);
        font-style: italic;
        font-weight: 800;

        text-align: center;;
        color: var(--white);
        margin: 1rem;

        text-shadow: .2rem .05rem maroon;
        background-color: rgba(186, 18, 0, .1);
    }

    .cost-boxes-grid p{
        font-family: var(--prif);
        font-size: var(--small);

        text-align: justify;
        margin: 1rem;
        color: var(--white);
    }

    .cost-boxes-grid h2 span{
        font-family: var(--prif);
        font-size: var(--small);
        font-style: italic;

        text-align: center;
        color: var(--white);
    }

    .one-box {
        grid-column: 1 / 2; 

        background: linear-gradient(
        var(--charcoal), var(--marigold)
        );
        border-radius: .1rem;
        margin: 3rem;
    }

    .one-cost {
        background-color: rgba(1, 19, 20, .1);
        margin: .5rem;
        border: .15rem solid var(--black);
    }

    .two-box {
        grid-column: 2 / 3;

        background: linear-gradient(
        var(--orangep), var(--marigold)
        );
        border-radius: .1rem;
        margin: 3rem;
    }

    .whole-shuttle {
        background-color: rgba(1, 19, 20, .15);
        margin: .5rem;
        border: .15rem solid var(--black);
    }

@media screen and (max-width: 900px) {
    .cost-boxes-grid {
        grid-template-columns: none;
        grid-template-rows: auto 5rem auto;
    }

    .one-box {
        grid-column: none;
        grid-row: 1 / 2;
        margin: 1rem;
    }

    .two-box {
        grid-column: none;
        grid-row: 3 / 4;
        margin: 0rem 1rem 1rem 1rem;
    }
}

/* Vechicle HTML */
.vehicle-grid {
    display: grid;
    grid-template-rows: 35rem repeat(4, auto);
    background-color: var(--charcoal)
}

    .vehicle-heading {
        display: grid;
        grid-template-columns: 2fr 3fr;
    }

    .vehicle-heading div:nth-child(1) {
        color: var(--white);

        justify-self: center; 
        align-self: center;

        margin: 0 0 1rem 0;
    }  
    .vehicle-heading h1 {
        font-family: var(--secf);
    }

    .vehicle-heading h6 {
        font-family: var(--prif);
        font-size: var(--small);
        margin: 1rem;
        font-style: italic;
    }

    .vehicle-heading span {
        font-family: var(--trif);
        font-style: italic;
    }

    .vehicle-heading div:nth-child(2) span{
        visibility: hidden;
    }

    .vehicle-heading div:nth-child(2) {
        background-image: url('../media/orange-rocket.jpg');
        background-size: cover;
        background-position: center;
    }  

    .vehicle-heading p {
        font-family: var(--prif);
        font-size: .75rem;
        vertical-align: baseline;
        margin: .5rem;
    }


.green-space {
    background-color: var(--orangep);
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
}

    .eng-dimen,
    .cryo {
        grid-column: 1 / 2;
    }

    .cryo {
        grid-row: 1 / 2;
    }
    .cryo h3{
        font-family: var(--secf);
        font-size: var(--big);

        color: var(--charcoal);
        text-shadow: .1rem .1rem var(--white);
        margin: 1rem; 
    }
    .cryo p,h4,ul,.eng-dimen {
        font-family: var(--prif);
        font-size: 1.25rem;

        margin: .5rem 1rem;
    }
    
    .cryo li {
        margin: .5rem;
    }


    .eng-dimen {
        grid-row: 2 / 3;
    }

    .eng-img {
        grid-row: 1 / 3;
        background-image: url('../media/engine.jpeg'); 
        background-size: cover;
        background-position:top;
        margin: 1rem;
    }

.modules {
    background-color: var(--black);
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);

    color: var(--white);
    padding-bottom: 3rem;
}

.modules h1 {
    font-family: var(--secf);
    font-size: var(--big);

    margin: 1rem;
}

.module-item {
    grid-row: 2 / 3;

    display: grid;
    grid-template-rows: auto auto;
    
    align-items: center;
    justify-items: center;

    font-family: var(--prif);
}

.module-item h2 {
    font-size: var(--medium);
}



@media screen and (max-width: 900px) {
    .modules {
        grid-template-rows: repeat(4, auto);
        grid-template-columns: none; 

        justify-items: center;
        align-items: center;
    }

    .module-item {
        font-size: var(--small);
        grid-row: auto;
        margin: 0;
        padding: 0;
    }

    .module-item h2 {
        font-size: var(--medium);
        margin: 0;
        padding: 0;
    }

    .green-space {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 1fr;
    }

    .eng-dimen,
    .cryo {
        grid-column: 1 / 2;
    }

    .cryo {
        grid-row: 2 / 3;
    }

    .eng-dimen {
        grid-row: 3 / 4;
    }

    .eng-img {
        grid-row: 1 / 2;
        margin: 0;
    }

}

/* space-flight.html */
.flight-grid {
    display: grid;
    grid-template-rows: 30rem repeat(3, auto);
    grid-template-columns: 1fr 1fr;
    background-color: var(--black);
}

.flight-grid .flight-heading {
    background-image: url('../media/Untitled.svg');
    background-color: rgba(1, 19, 20, .5);
    background-blend-mode: overlay;
    background-size: contain;
    display: grid;

    grid-column: 1/3;
}
.flight-grid .flight-heading h1{
    color: var(--black);
    font-family: var(--secf);
    text-shadow: .1rem .1rem var(--white);
    font-size: 5rem;

    background-color: var(--marigold);
    padding: 1rem;
    justify-self: center;
    align-self: center;
}
.training {
    background-image: url('../media/training.jpg');
    background-size: cover;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 2rem repeat(2, auto);

    justify-items: baseline;
    align-items: baseline;
}
    .training h1 {
        font-size: var(--big);
        font-family: var(--secf);

        grid-row: 2 / 3;
        grid-column: 1 / 3;
        margin: 1rem;
    }

    .training p {
        font-size: var(--small);
        font-family: var(--prif);
        color: var(--white);
        grid-row: 3 / 4;
        grid-column: 1 / 3;
        background: var(--charcoal);

        margin: 1rem;
        padding: 1rem;
    }

.launch {
    background-image: url('../media/ksc.jpeg');
    background-position: left;
    background-size: cover;
}
    .launch div {
        color: var(--white);
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 2rem repeat(3, auto);
    }
    .launch h1 {
        font-size: var(--big);
        font-family: var(--secf);

        grid-row: 2 / 3;
        grid-column: 4 / 6;
        margin: 1rem;
        background-color: var(--charcoal);

    }   

    .launch h3 {
        font-size: var(--small);
        font-family: var(--prif);

        grid-row: 3 / 4;
        grid-column: 4 / 6;
        margin: 1rem;
        background-color: var(--charcoal);
    } 
    
    .launch h4 {
        font-size: var(--small);
        font-family: var(--prif);

        grid-row: 4 / 5;
        grid-column: 4 / 6;
        margin: 1rem;
        background-color: var(--charcoal);
    } 

.flight {
    grid-column: 1 / 3;
    background-color: var(--charcoal);
    color: var(--white);
}

    .flight h1,.recovery h1 {
        font-size: var(--big);
        font-family: var(--secf);
    }  

    .flight h1 {
        margin: 1rem;
    }
    
    .flight h3{
        text-align: center;
        font-size: var(--medium);
        font-family: var(--prif);
    }   

.recovery {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 3rem 20rem;
    background-color: var(--marigold);

    padding: 0 1rem 5rem 1rem;
}

.recovery-info {
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
}

.recovery h1 {
    margin: 1rem;
}

.recovery-info li{
    margin: .5rem;
    font-size: 1.25rem;
}

.rship-img {
    grid-column: 2 / 3;
    background-image: url('../media/rship.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}


/* contact us */
.contact-body {
    background-color: var(--charcoal);
}

.contact-form {
    display: grid;
    font-family: var(--prif);
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(8, 1fr);
}

.contact-form div {
    color: var(--orangep);
    grid-row: 1 / 2;
    grid-column: 3 / 7;
    font-size: var(--medium);
    text-shadow: 1px 1px 2px var(--black);
}

.contact-form form {
    font-size: var(--small);

    color: var(--white);
    grid-row: 2 / 3;
    grid-column: 3 / 7;
    display: grid;
    grid-template-rows: repeat(8, auto);
}

input,
textarea {
    border: var(--black) .0175rem solid;
    margin: 0 0 1rem 0;
    background-color: transparent;
    color: var(--white);
    font-family: var(--prif);
}

input {
    height: 2rem;
}

button {
    border: var(--marigold) solid .05rem;
    background-color: transparent;
    font-family: var(--prif);
    color: var(--white);
}
@media screen and (max-width: 900px) {
    .contact-form div {
        grid-column: 1 / 9;
        margin: 0 1rem;
        font-size: var(--small);
    }

    .contact-form form {
        color: var(--white);
        grid-column: 1 / 9;
        display: grid;
        grid-template-rows: repeat(8, auto);
        margin: 0 1rem;
    }

    .flight-grid {
        grid-template-rows: 20rem repeat(4, auto)
    }

    .training {
        grid-column: 1 / 3;
    }

    .training p{
        grid-column: 1 / 4;
    }

    .launch {
        grid-column: 1 / 3;
    }

    .launch h1{
        font-size: var(--medium);
    }

    .recovery {
        display: grid;
        grid-template-rows: repeat(2,auto) 15rem;
        grid-template-columns: 1fr 1fr;
        padding: 2rem 0; 
    }

    .recovery h1 {
        margin: .5rem;
        grid-row: 1 / 2;
        grid-column: 1 / 3;
    }

    .recovery-info {
         grid-column: 1 / 3;
         grid-row: 2 / 3;
    }
    .rship-img {
        grid-row: 3 / 4;
        grid-column: 1 / 3;
        background-position: center;
        margin: 1rem;
    }
    .recovery-info li{
        margin-top: .5rem;
        font-size: var(--small);
    }


    .flight-grid .flight-heading h1{ 
        font-size: var(--big);
    }
}